<html>
    <head>

    </head>
    <body>
        노에님, 안녕하세요.<br>
        지금 입고된 꽃의 치수를 cm 단위로 입력해주세요.<br>
        머신러닝 장치의 안내에 따라 종류에 맞게 창고에 넣어주세요.<br>

        <form action="http://localhost:5000/result" method="get">
            <div>
            <table>
                <tr>
                    <th>sepal_length(cm)</th>
                    <th>sepal_width(cm)</th>
                    <th>petal_length(cm)</th>
                    <th>petal_width(cm)</th>
                </tr>
                <tr>
                    <td><input type="text" name="sepal_length"></input></td>
                    <td><input type="text" name="sepal_width"></input></td>
                    <td><input type="text" name="petal_length"></input></td>
                    <td><input type="text" name="petal_width"></input></td>
                </tr>
            </table>
            <input style="float: right;" type="submit" value="꽃 치수 입력 완료"></input>
        </form>
    </div>
    </body>
</html>